@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --light-dark-blue: hsla(213, 20%, 18%, 0.6);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

*{   
    font-family: 'Overpass',sans-serif;    
}
body{
    background: var(--Very-Dark-Blue);
    color: white;
}
main {
    margin: 200px 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.rate-container {    
    background-color: var(--light-dark-blue);
    padding: 10% 5%;
    border-radius: 15px;    
    
}
.rate-container img {
    background: var(--Dark-Blue);
    border-radius: 50%;
    padding: 10px;    
}
.rate-container h1 {
    font-size: 22px;    
}
.rate-container p {
    font-size: 14px;
    font-weight: 500;
    color: var(--Medium-Grey); 
    line-height: 1.5;       
}
.rate-btn-container {
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rate-btn {
    background-color: var(--Dark-Blue);
    border: none;
    border-radius: 50%;
    color: var(--Light-Grey);
    padding: 15px 20px;
}
.rate-btn:hover {
    background-color: var(--Light-Grey);
    color: white;
    cursor: pointer;
}
.rate-btn:focus {
    background-color: var(--Orange);
    color: white;
    font-weight: 700;
}
.submit-btn {
    width: 100%;
    background-color: var(--Orange);
    border: none;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    padding: 15px 0;
    letter-spacing: 3px;
    font-weight: 700;
}
.submit-btn:hover {
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;    
}
.thankyou-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--light-dark-blue);
    padding: 10% 5%;
    border-radius: 15px;
    font-size: 14px;     
    display: none;   
}

.thankyou-container .selected {
    margin-top: 10%;
    background-color: var(--Dark-Blue);
    padding: 10px 15px;
    border-radius: 20px;   
    color: var(--Orange); 
}
.thankyou-container h1 {
    margin: 30px 0 auto;    
}
.thankyou-container p {
    color: var(--Medium-Grey);
    line-height: 1.5;
}
.attribution { 
    display: block;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 600px) {
    main {
        margin-top: 150px;
    }
    .rate-container {
        max-width: 21.7%;
        padding: 30px;
        border-radius: 20px;        
    }
    .rate-container img {
        padding: 15px;
    }
    .rate-container h1 {
        font-size: 25px;
    }
    .rate-container p {
        font-size: 14px;
    }
    .rate-btn {
        padding: 15px 20px;
    }
    .thankyou-container {
        max-width: 21.7%;
        padding: 30px;
        border-radius: 20px;
    }
}